<footer class="footer">
  <div class="container footer-container">
    <div class="footer-bottom">
      <a
        href="https://www.instructure.com/"
        class="company-logo bottom__section"
        target="_blank"
        ><img
          class="company-logo"
          src="https://assets.portfolium.com/images/logo_instructure_color.svg"
          alt="Instructure"
      /></a>
      <div class="bottom__section">
        <span class="copyright align-middle">{{ copyright }}</span>
      </div>
    </div>
  </div>
</footer>
