<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <header class="row ">
    <app-header></app-header>
  </header>
  <div class="row">
    <div class="col p-0">
      <app-hero></app-hero>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <app-expert-list></app-expert-list>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <app-footer class="row"></app-footer>
</footer>
