.description {
  font-family: proxima-nova, helvetica, arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  min-height: 4rem;
}

.content-title {
  font-family: proxima-nova, helvetica, arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 600;
}
