/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/fonts/fonts.css";

body,
html {
  font-weight: 400;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: proxima-nova, helvetica, arial, sans-serif;
}
body {
  color: #323742;
  font-size: 1em;
  line-height: 1.5;
  background-color: #f8f9fa !important;
}
